* {
  background: #000000;
}

.chat-nav {
  box-shadow: 0 3px 5px #5f5e5e;
}

.chat {
  max-height: fit-content;
}

.text-sender {
  bottom: -1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 -3px 5px #5f5e5e;
}

.text-sender textarea {
  background: #3b3b3b;
  height: 30px;
}

.text-sender textarea:focus {
  outline: 0;
}

.text-form textarea::placeholder {
  font-style: italic;
  color: #ffffff;
}

.text-form textarea:focus-within {
  background: #292727;
  font-weight: 500;
}

.messages-area {
  width: 370px;
  place-self: center;
}

.mine,
.theirs {
  width: fit-content;
  max-width: 270px;
}

.mine span,
.theirs span {
  font-size: 14px;
}

.mine {
  position: relative;
  left: 4rem;
  background: rgb(92, 92, 92);
  color: #eee;
}

.mine span {
  margin-left: 13.5em;
}

.theirs {
  position: relative;
  right: 00px;
  color: #000000;
  background: #e6e6e6;
}
