@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

* {
  background: #242424;
}

.nav-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 5px;
  border-bottom: 4px solid #585252;
}

.logo, .others {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo:nth-child(1) {
  font-size: 25px;
}

h4 {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


.others {
  gap: 25px;
}

.others:nth-child(1),
.others:nth-child(2),
.others:nth-child(3) {
  font-size: 18px; 
}